[submodule "irods_client_zone_management_tool"]
	path = irods_client_zone_management_tool
	url = https://github.com/irods/irods_client_zone_management_tool
[submodule "mango-portal"]
	path = mango-portal
	url = https://github.com/kuleuven/mango-portal
